.training {

  &-area{
    &-title{
      text-align: center;
    }
    &-button{
      margin-top: 34px;
      margin-left: 28%;
      width: 24%;
    }
  }

  &-modal {
    &-sprite {
      width: 250px;
    }
  }
  
}
